[Interface]
{% if item.listen_port %}
ListenPort = {{ item.listen_port }}
{% endif %}
PrivateKey = {{ item.private_key }}
Address = {{ item.address | join(' ,') }}
{% if item.dns is defined %}
DNS = {{ item.dns | join(', ') }}
{% endif %}
{% for peer in item.peers %}

[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
AllowedIps = {{ peer.allowed_ips | join(', ') }}
{% endfor %}
