[Interface]
{% if item.interface.listen_port is defined %}
ListenPort = {{ item.interface.listen_port }}
{% endif %}
PrivateKey = {{ item.interface.private_key }}
Address = {{ item.interface.address | join(' ,') }}
{% if item.interface.dns is defined %}
DNS = {{ item.interface.dns | join(', ') }}
{% endif %}
{% for peer in item.peers %}

[Peer]
PublicKey = {{ peer.public_key }}
{% if peer.endpoint is defined %}
Endpoint = {{ peer.endpoint }}
{% endif %}
AllowedIps = {{ peer.allowed_ips | join(', ') }}
{% endfor %}
